<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlan ● projects</title>
</head>

<body>
    <%- include('../public/partials/navbar'); %>

    <div class="contianer">
        <h1 class="m-4"> <%= project.project_name %></h1>
        <div class="wrapper m-4">
            <b>Files or Images added.</b>
            <div class="column">
                <img width="200" src="https://ralfvanveen.com/wp-content/uploads/2021/06/Placeholder-_-Glossary.svg">
            </div>
        </div>
        <div class="wrapper m-4">
            <p><%= project.project_bio %></p>

            <% if (colleges) { %>
            <div class="wrapper d-flex">
                <% colleges.forEach(college => { %>
                    <label class="form-check-label badge bg-<%-college.college_name%> text-white rounded-pill px-2 py-1 me-2" for="college"><%- college.college_name %></label>
                <% }); %>
            </div>
            <% } else { %> 
                <p class="my-2">*No colleges have been added to this project</p>
            <% } %>

            <br>
            <b>Users added to this project.</b>
            <p><i class="ri-vip-crown-fill"></i> Benjamin Porobic</p>
            <% members.forEach(member => { %>
            <p><i class="ri-user-fill"></i><%- " " + member.firstname + " " + member.lastname %></p>
            <% }); %>
            <button class="submit-button mb-2">Add or remove a user</button>
            <br>

            <!-- if you are already in the group -->
            <button class="submit-button bg-danger">Leave</button>

            <!-- if you are not already in the group -->
            <!-- <button class="submit-button bg-success">Join</button> -->
        </div>

    </div>

</body>

</html>