<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlan ● projects</title>
</head>

<body>
    <%- include('../public/partials/navbar'); %>

    <div class="contianer">
        <div class="shadow"></div>
        <h1 class="m-4"> <%= project.project_name %></h1>
        <p class="m-4"><b>Start date: <%= projectDate %></b></p>
        <p class="m-4"><b>End date: <%= endDate %></b></p>


        <% if (project.banner) { %>
            <img class="m-4" src="../uploads/<%= project.banner %>" alt="Project Banner" width="500">
        <% } %>
        
        <div class="wrapper m-4">
            <b>Files or Images added.</b>
            <div class="column">
                <% if (files) { %>
                <% files.forEach(file => { %>
                <i class="ri-attachment-line"></i><a width="200"
                    href="../uploads/<%= file.file_id %>"><%= file.file_id %></a><br>
                <% }); %>
                <% } %>

            </div>
        </div>
        <div class="wrapper m-4">

            <hr>
            <b>Biography</b>
            <p><%= project.project_bio %></p>


            <% if (colleges) { %>
            <div class="wrapper d-flex">
                <% colleges.forEach(college => { %>
                <label
                    class="form-check-label badge bg-<%-college[0].college_name%> text-white rounded-pill px-2 py-1 me-2"
                    for="college"><%- college[0].college_name %></label>
                <% }); %>
            </div>
            <% } else { %>
            <p class="my-2">*No colleges have been added to this project</p>
            <% } %>

            <br>
            <hr>
            <b>Users added to this project.</b>

            <!-- created by -->
            <p><i class="ri-vip-crown-fill text-warning"></i> <%- created_by.firstname + " " + created_by.lastname %>
            </p>

            <!-- members -->
            <% members.forEach(member => { %>
            <% if (member.firstname != created_by.firstname) { %>
            <p><img width="25px" class="rounded-circle"
                    src="../uploads/image-999999999.jpg"><%- " " + member.firstname + " " + member.lastname %></p>
            <% }; %>
            <% }); %>

            <!-- admin button -->
            <% if (req.session.loggedInUser == created_by.user_id) { %>
            <button type="button" class="submit-button mb-2" data-toggle="modal" data-target="#exampleModal">
                Project Settings
            </button>
            <% }; %>

            <br>

            <% if (activeMember) { %>
            <!-- if you are already in the group -->
            <button class="submit-button bg-danger">Leave</button>
            <% } else { %>
            <!-- if you are not already in the group -->
            <button class="submit-button bg-success">Request to join</button>
            <% } %>
        </div>

    </div>

</body>

</html>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Project settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="project-settings-form">
                    <div class="form-group">
                        <label for="project-name">Project Name</label>
                        <input type="text" class="form-control" id="project-name" placeholder="Enter project name">
                    </div>
                    <div class="form-group">
                        <label for="project-name">Project Biography</label>
                        <textarea class="form-control" id="project-name" placeholder="Enter project bio"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="project-users">Project Members</label>
                        <select multiple class="form-control" id="project-users">
                            <% users.forEach(user => { %>
                                <option value="<%- " " + user.firstname + " " + user.lastname %>">
                                    <%- user.firstname + " " + user.lastname %>
                                </option>
                            <% }); %>
                        </select>
                        <small class="form-text text-muted">Select or remove users from the project.</small>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id="add-user">Add User</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
            </div>
        </div>
    </div>
</div>